[submodule "enarx-keepldr"]
	path = enarx-keepldr
	url = https://github.com/enarx/enarx-keepldr.git
[submodule "enarx-wasmldr"]
	path = enarx-wasmldr
	url = https://github.com/enarx/enarx-wasmldr.git
[submodule "demo"]
	path = demo
	url = https://github.com/enarx/demo
